/*   
Theme Name:DaGema
Theme URI: thiago.p1989@gmail.com
Author: Thiago Pereira da Silva
Author URI: thiago.p1989@gmail.com
Description: Tema do site da Semana Fluminense do Patrimônio
Version: 2.0
License: GNU General Public License v2 or later
License URI: thiago.p1989@gmail.com
Text Domain: thiago.p1989@gmail.com
*/





.navbar-brand {
  padding: 0px;
  min-height:174px;
}

.navbar-right{
	margin-top:90px;
	font-size: 1.1em;
}

.carousel-caption {
	
	padding-bottom: 67px;
	text-align:left;
	color: white;
}

.carousel-inner{
	
	/*opacity:.5;*/
	
}
.carousel-button{
	width:120px;
	height:40px;
	border:solid 1px white;
	text-align:center;
	padding-top:7px;
	border-radius:10px;
	margin-top: 30px;
	/*! opacity: 1; */
}

.carousel-button:hover{
	background-color: rgb(51, 214, 229);
}

/*
.carousel-indicators li {
    display: inline-block;
    width: 133px;
    height:19px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: rgb(51, 214, 229);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
*/
.carousel-indicators .active {
    width: 133px;
    height:19px;
    margin: 10px;
    background-color:  rgb(255, 255, 255);
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	
	margin-left: 100px;
	
	
}

.container-fluid {
		background-color:rgb(28, 34, 45);
	
	
		
}



.main{
	
	background-color:white;
	border-bottom: 1px dashed gray;
	margin-bottom: 5px;
	background-image: url("..img/border.png");
}

.main .thumbnail{
	
	border:none;
}

.service {
	background-color:rgb(0, 166, 197);
	border-bottom: 1px dashed gray;
	
}

.line-template{
	width: 100%;
	height: 1px;
	border:solid red dashed 1px;
}

.service .col-md-2{
	/* background-color:rgb(197, 49, 0); */
	
	/*! padding: 10px; */
	margin-left: 10px;
}


.service .col-md-2 img{
	
}

.service .service-icon{
	
	
	
	width: 122px;
	height: 122px;
	background-color: rgb(0, 166, 197);
	border-radius: 50%;
	border: 3px solid white;
	margin-left: 15px;
}

.service .service-icon:hover{
	background-image: url('..img/service-mobile-hover.png');
}


.portfolio-hidden{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color:rgba(0, 151, 185, 0.7);
	background-image:url("../img/search.png");
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: center 50%;
	margin: 0;
	padding:0;
	top:0;
	visibility: hidden;
}

.service .service-title{
	
	
	/*! margin-left: 30%; */
	text-align: center;
	font-weight: bold;
	color: white;
}


.portfolio {
	background-color:rgb(255, 255, 255);
	background-image:url("http://raydent.com.ar/raydent/wp-content/uploads/2016/10/3500170.jpg");
	background-size: 100% auto;
	background-repeat:no-repeat;
	
	padding-bottom: 50px;
}

.portfolio .col-md-4{
	
	background-color:white;
	padding: 0;
}

.portfolio-title{
	
	font-size:20px;
	text-align: center;
	font-weight:bold;
}

.portfolio-subtitle{
	
	font-size:15px;
	text-align: center;
	color:rgb(139, 139, 139);
}


.portfolio-hidden .portfolio-title{
	color:white;
	font-size:20px;
	text-align: center;
	font-weight:bold;
	/*! position: relative; */
	margin-top: 52%;
}

.portfolio-hidden .portfolio-subtitle{
	color:white;
	font-size:15px;
	text-align: center;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: rgb(51, 214, 229);
	  border:1px solid aqua;
    opacity: .7;
	  width: 133px;
    height:19px;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
	background-color: white;
	width: 133px;
  height:19px;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
     -o-transform: translate3d(-50%,-50%,0);
     transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    /*! font-weight: bold; */
    margin: 0;
    padding: 0;
    font-family: arial;
}

.hero h3 {
    font-size: 1.2em;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(0, 151, 185);
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 12px 19px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: transparent;
    border-color: white;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
	background-image: url("../img/top3.jpg"); 
}
.fade-carousel .slides .slide-2 {
	background-image: url("../img/top3.jpg"); 
}
.fade-carousel .slides .slide-3 {
	background-image: url("../img/top3.jpg"); 
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}